<div class="card m-2" id="comments-new">
    <div class="card-body">
        <!-- 댓글 작성 폼 -->
        <form>
            <div class="mb-3">
                <label class="form-label">제목</label>
                <input class="form-control form-control-sm" id="new-comment-nickname">
            </div>
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea class="form-control form-control-sm" id="new-comment-body" rows="3"></textarea>
            </div>

<!--            히든 인풋 -->
            {{#place}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/place}}

<!--            전송 버튼-->
            <button type="button" class="btn btn-outline-primary btn-sm" id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>

<script>
    {
        const commentCreateBtn = document.querySelector("#comment-create-btn");

        commentCreateBtn.addEventListener("click", function () {
            const comment = {
                nickname : document.querySelector("#new-comment-nickname").value,
                body : document.querySelector("#new-comment-body").value,
                article_id : document.querySelector("#new-comment-article-id").value
            };
            console.log(comment)

            const url = "/api/articles/" + comment.article_id + "/comments";
            fetch(url, {
                method : "post",                // POST 요청
                body : JSON.stringify(comment), // comment JS 객체를 JSON으로 변경하여 보냄
                headers : {
                    "Content-Type" : "application/json"
                }
            }).then(response => {
                const msg = (response.ok) ? "댓글이 등록되었습니다." : "댓글 등록 실패..!"
                alert(msg);
                window.location.reload();
            });
        });
    }
</script>