<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
    <link rel="stylesheet" href="/css/stateview.css?after" type="text/css">

    <!--스크롤 이동 자바 스크립트-->

</head>
<!--헤더-->
{{>layouts/loginheader}}
<!--바디-->
{{#place}}
<body class="pc">
<div id="content" class="detail">
    <div class="top">
        <div class="left">
            <img src="{{filepath}}" />
        </div>
        <div class="right">
            <div class="info">
                <h1 th:text="${board.titleplace}">{{titleplace}}</h1>
                <p th:text="${board.address}">{{address}}</p>
                <!--                <p th:text-="${board.}"></p>-->
                <div class="benefit_wrap"></div>
            </div>
            <div id="promotion-banner"></div>
            <div class="comment">
                <strong>사장님 한마디</strong>
                <!--<button>더보기</button>-->
                <div class="clamp">
                    <!--<p th:text="${board.benefit}">사장님 한마디.</p>나중에 교체 -->
                    {{benefit}}</div>
            </div>
        </div>
    </div>
    <div class="tab">
        <nav class="on" >
            <ul class="quick">
                <li><a href="" class="on">숙소정보</a></li>
                <li><a href="" onclick="
                        fetch('html').then(function(response){
                     response.text().then(function(text){
document.querySelector('article').innerHTML = text;
                     })
                     });
                     ">리뷰</a></li>
            </ul>
        </nav>
    </div>
    <article class="detail_info on">
        <!-- 기본 정보 -->
        <button type="button" id="default_info_tab" class="category on">
        </button>
        <section class="default_info" style="display: block;">
            <h3 style="margin-top: 20px; margin-bottom: 10px;">
                기본 정보!
            </h3>
            <p th:text="${board.content}">내용이 들어갈 부분</p>

            <h3>기본정보</h3>
            <ul>
                <li>입실 : 15:00 | 퇴실 : 11:00</li><li>22시 이후 입실 시 사전문의 (필수)</li><li>무료 Wi-Fi</li><li>전 객실 금연</li><li>주차 가능</li></ul>

            <h3>인원 추가 정보</h3>
            <ul>
                <li>1인 10,000원 (영유아 포함)</li><li>영유아 인원수 포함 / 최대인원 초과불가</li><li><b>현장 결제</b></li></ul>

            <h3>캠핑 서비스</h3>
            <ul>
                <li><b>시설 이용문의 및 비용 별도 펜션문의</b></li><li>매점</li><li>정자나무</li></ul>

            <h3>바비큐 시설</h3>
            <ul>
                <li>그릴 대여 : 20,000원</li><li>개별 바비큐장 구비</li><li>현장 결제</li></ul>
            <br>
            <br>

            <!--구글 지도-->
            <h3>오시는 길</h3>
            <center>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.1831021704793!2d126.93652271564224!3d37.26708494897779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b69cf4609d001%3A0x3e25badc0c11e6bd!2z6rK96riw64-EIOyImOybkOyLnCDqtozshKDqtawg6riI6rOh64-ZIDc4Ny0y!5e0!3m2!1sko!2skr!4v1669031091624!5m2!1sko!2skr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </center>


        </section>
    </article>
</div>
<article id="review" class="review on">
    <div class="score_top">
    </div>
    <ul>
        <li class="review_box">
            {{>comments/_comments}}
            {{#commentDtos}}

            {{/commentDtos}}
        </li>
    </ul>
</article>
<a th:href="@{/state/delete(id=${board.id})}">글삭제</a>
<a th:href="@{/state/modify/{id}(number=${board.id})}">수정</a>
{{/place}}
</body>
</html>