{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#placeList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{titleplace}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/placeList}}
    </tbody>
</table>
<a href="/articles/new">new Article</a>
{{>layouts/footer}}